body{

	text-align: center;
	font: 18px 'Roboto', sans-serif;
}

h1 {

	font: 60px Monoton, sans-serif;
	color: rgb(284, 84, 95);
}

h2, h3 {

	font: 30px 'Orbitron' sans-serif;
	color: #165388;
}

a {

	font-size: 20px;
}

ul {

	padding-left: 0;
}

li{

	padding: 5px;
}

#letsConnect h2{

	font: 60px Monoton, sans-serif;
	color: rgb(284, 84, 95);
}

li:hover:nth-child(even){

	background-color: rgba(284, 84, 95, 0.5);
	transition: .5s ease;
}

li:hover:nth-child(odd){

	background-color: rgba(41, 145, 234,0.5);
	transition: .5s ease;
}


.row:nth-child(odd){

	border: 1px solid #2991EA;
	margin: 10px 0 10px 0;
	padding: 10px;
}
.row:nth-child(even){

	border: 1px solid rgb(284, 84, 95);
	margin: 10px 0 10px 0;
	padding: 10px;
}


#projects, #education, #letsConnect {
	border: none;
}
.nameRole{
	
	text-align: right;
}

.welcome-message p {

	margin-top: 0;
}

.location-text{

	margin-top: 15px;
}

.workEntry p {

margin-top: 0;
}

.container{

	background-image: url('../images/background.png');
	background-repeat: no-repeat;	
}

#position {

	margin-top: 0;
}

#name {

	margin-bottom: 0;
}

li{
	list-style-type: none;
}


.img-responsive {
    margin: 0 auto;
}
#map {
  height: 100%;
}

#mapDiv {
  height: 400px;
  max-width: 100%;
  overflow: auto;
}

#skills{

	padding-right: 0;
}

.gray-text {

	color: #6C6C6C;
	padding-left: 5px;
}


.blue-text {

	color: #0B91F2;
}

@media screen and (max-width: 990px){

	h1 {

		font-size: 40px;
		padding-top: 35px;
	}

	h2, h3{

		font-size: 20px;
	}
}

@media screen and (max-width: 770px){

	.project-entry img {

		padding-top: 15px;
	}
}


@media screen and (max-width: 470px){


	.nameRole {

		text-align: center;
		background-image: url('../images/m_h_background.png');
		background-repeat: no-repeat;
	}

.container{

	background-image: url('../images/m_background.png');
	background-repeat: no-repeat;

}
